mixin eduSection(title)
	div.edu-section.ml-2
		h2#edu-section.highlight= title || 'Education'
		block


mixin edu(school, programme, major, startTime, endTime, info)
	-
		const startDate = new Date(startTime);
		const endDate = new Date(endTime);
		const startYear = startDate.getFullYear();
		const endYear = endDate.getFullYear();

		const studyPeriod = `${startYear !== endYear ? startYear + ' -' : ''} ${endYear}`;

	div.education
		h3.highlight.double-bullet(id='edu-' + school.toLowerCase().replace(/\s/g, '-'))= school
			span.light.ml-1= '| ' + studyPeriod
		div.ml-2
			p.bold.bullet= programme + ' programme'
			if (major)
				p.bullet= major + ' professional major'
			if (info)
				p= info

			if (block)
				div.edu-details.ml-2
					block
