mixin workSection(title)
	div.work-section
		h2#work-section.highlight= title || 'Work experience'
		div.ml-2
			block


mixin work(company, position, startTime, endTime, responsibilities, info)
	-
		const monthNames = [
			'January',
			'February',
			'March',
			'April',
			'May',
			'June',
			'July',
			'August',
			'September',
			'October',
			'November',
			'December'
		];
		const startDate = new Date(startTime);
		const endDate = new Date(endTime);
		const startYear = startDate.getFullYear();
		const endYear = endDate.getFullYear();
		const startMonth = startDate.getMonth();
		const endMonth = endDate.getMonth();

		const workPeriod = `${monthNames[startMonth]} ${startYear !== endYear? endYear : ''} - ${monthNames[endMonth]} ${endYear}`;

		if (responsibilities && !(responsibilities instanceof Array)) {
			responsibilities = [responsibilities];
		}

	div.work-position
		h3.highlight.double-bullet(id='position-' + company.toLowerCase().replace(/\s/g, '-'))= company
			span.light.ml-1= '| ' + workPeriod
		div.ml-2
			p.bold.bullet= position + ' position'
			if (responsibilities)
				span Responsibilities:
				ul.pl-4
					for r in responsibilities
						li.mb-1= r
			if (info)
				p= info

			if (block)
				div.work-details.ml-2
					block
